* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

/* Commons */

a {
    text-decoration: none;
}

input,
button,
textarea {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

/* Header */

.header--fix {
    position: sticky;
    top: -42px;
    z-index: 999;
}

.header-wrap {
    padding: 52px 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-list {
    display: flex;
    gap: 7px;
}

.navbar-item {
    padding: 8px 16px;
    color: #2f3a3b;
    transition: 300ms;
}

.navbar-item--active,
.navbar-item:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 600;
}

.navbar-item--active {
    font-weight: 600;
}

.header-cta__link {
    margin-right: 24px;
    color: #494949;
}

.header-cta--main {
    display: inline-block;
    min-width: 108px;
    line-height: 48px;
    text-align: center;
    color: #1ebfc1;
    text-align: center;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
}

/* Hero */

.hero {
    height: calc(100vh - 110px);
}

.hero-wrap {
    padding: 40px 0 79px;
    display: grid;
    grid-template-columns: 1fr 1.35fr;
    gap: 0 96px;
    align-items: center;
}

.hero-tag {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero-title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero-desc {
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78;
}

.hero-cta-list {
    margin-top: 52px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-cta--main {
    display: inline-block;
    min-width: 186px;
    line-height: 68px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero-cta--sub {
    display: inline-block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1ebfc1;
    border-radius: 62px;
    background: #fff;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero-media {
    position: relative;
}

.hero-img--thumb {
    margin-left: auto;
    width: 100%;
    max-width: 576px;
    height: 631px;
    object-fit: cover;
    border-radius: 12px;
}

.hero-media img {
    display: block;
}

.hero-media img:nth-child(2) {
    position: absolute;
    left: 40px;
    top: 149px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media img:nth-child(3) {
    position: absolute;
    left: 0;
    bottom: 46px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media img:last-child {
    position: absolute;
    right: 45px;
    bottom: 41px;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
